body {
    width: 100%;
    margin: 0px;
}
header {
    width: auto;
    height: 50px;
    border: 2px;
    border-style: solid;
    background-color: rgb(144, 195, 240);
}

header > div{
    display: flex;
    width: auto;
    height: inherit;
    align-items: center;
    flex-grow: 1;
}


#leftHeader {
    float: left;
    justify-content: flex-start;
}

#leftHeader > div{
    padding: 10px;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 10px;

    background-color: rgba(255, 255, 255, 0.267)
}
#rightHeader {
    float: right;
    justify-content: flex-end;
    width: auto;
}
#searchForm {
    display: inline-block;
    height: 40px;
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 5px;

}
#searchForm > *{
    display: inline;
}

#searchInput {
    width: auto;
    height: auto;
    padding: 0;
    border: 0;

}

#searchButton {
    width: auto;
}

main {
    padding: 20px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    background-color: rgb(85, 137, 161);
}

.card {
    width: 250px;
    height: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    border: 2px;
    border-style: solid;
    border-radius: 15px;
    position: relative;

    background-image: url(http://img.myloview.fr/stickers/visage-souriant-heureux-400-35153689.jpg);
    background-size: cover;
}

.cardName {
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}