#SignUpIn{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#SignUpIn:hover{
    color: rgb(255, 162, 252);
}
input {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
}
#loginMessage{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}