
/*- - - - - - - - - - - - navigation bar - - - - - - - - -  - - - - - */ 
.Navigation-bar {

    background-color:#e4dfde;

} 

.Navigation-bar ul li  { 
	padding-left: 15px;
}

.Navigation-bar ul {
display:flex;
list-style:none;
padding: 8px 0 0 0; 
}

.Right {
margin-left:auto;
margin-right: 00px; 
} 
.Navigation-bar a {
text-decoration: none; 
font-family: 'Roboto Condensed', sans-serif;
width: 100%; 
color:#456654;
text-transform: uppercase;
}

.Navigation-bar a.selected, .Navigation-bar a:hover {

color:#000000;
}
/*- - - - - - - - - - - - - - - Products - - - - - - - - - - - - - - - - - -*/
.Products{
    display:flex;
    flex-wrap: wrap;
   
}

.btn{

margin:10px 0 10px 100px;
} 


/* - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - - - - - - */ 
h3 {

    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%; 
    color:#456654;
    text-align: center;

} 
.product {
    flex-grow: 4;
    order: 4;
    flex-shrink: 2;
    margin:10px
   
}
.product_title {
    margin:10px 0 10px 100px;
}
/*- - - - - - - - --  - - -- - - footer - - - - -- - - -*/

#blackline { 	

    font-size:2em;
    margin: 30px auto 0 auto;
    background-color:#e4dfde;
    padding: 30px 0 0 0;
    text-align: center;

}



#footertext a.selected, #footertext a:hover {
    color:#000000;
    }

#footertext a{
font-family: 'Roboto', sans-serif;
text-align:center;
color:#456654;
}

/*- - - - - - - - - - - - - - - - - - Full page styles  */
body {

	background: rgb(255, 255, 255); 

}
#page-wrap {
    width: 1200px;
    margin: 10px auto;
}