.CountrySuggestHint {
    height: 25px;
    white-space: nowrap;

    /* border-width: 1px;
    border-style: solid; */
    border-radius: 10px;

    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.287);
    padding-left: 5px;

    overflow: hidden;
    text-overflow: clip;
    margin-bottom: 3px;

    cursor: pointer;

    transition: all 1s ease;
}
.CountrySuggestHint:hover {
    box-shadow:  0 0 2px 1px rgba(0, 0, 0, 0.287);
}

.CountrySuggestHint>img {
    display: inline-block;
    margin: 0;
    top: 0;
    height: 100%;

}

.CountrySuggestHint>div {
    display: inline-block;
    
    width: 112px;
    height: inherit;
    margin: auto 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    text-align: left;
    line-height: 100%;
    vertical-align: bottom;
}