.Task {
    /* debug borders */
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    max-width: 600px;
    
    /* border-bottom: 1px solid rgb(146, 146, 146);
    border-top: 1px solid rgb(146, 146, 146); */
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.287);
    margin-bottom: 8px;
    transition: background-color 0.3s ease-out;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Task.done {
    background-color: rgba(0, 0, 0, 0.096);
}