.Text
{
    padding: 5px;
    margin-left: 10px;
    /* margin-top: 10px; */
    
    font-weight: normal; 
    font-size: 17px;
    font-family: Comic Sans MS, Verdana, monospace;
    color: #2d509b;
    font-weight: bold;
}