.buy-btn {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   background-color: #3498db;
   color: #ffffff;
   font-size: 14px;
   text-transform: uppercase;
   transition: .3s;
   cursor: pointer;
}