.ItemCard {
    background-color: coral;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    display: inline-block;

    width: 200px;
    height: 250px;

    margin: 15px;

    cursor: pointer;
}